*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
.d1{
    width:100%;
    height: 200%;
}
.nav-bar{
    width:100%;
   
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top:0;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    background-color: white;
    box-shadow: 1px 5px 4px 1px rgba(0,0,0,0.62);
    
    

}

.a1{
    color: black;
    font-size: 30px;
    text-shadow: 6px 3px 2px rgba(0,0,0,0.6);
}
.nav-cont{
    
    width: 40%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style:none;
    color: black;
}
.nav-child{

}
.nav-link{
    color:black;
    text-decoration: none;
    text-shadow: none;
}
.nav-link:hover{
    
    color:red;
}
.main-body-cont{
    width:100%;
    margin-top:8%;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 15px 4px rgba(0,0,0,0.81);

}

.mbc-right{
    
}
.text1{
    color: yellow;
    font-size: 25px;
    

}
.text2{
    color: white;
    font-size: 50px;
    
}
.text3{
    color: white;
}
.h1{
    color:rgba(239, 21, 21, 0.767);
    text-align: center;
    text-shadow: 4px 1px 3px rgba(7, 7, 7, 0.53);
}
.h3{
    text-align: center;
}
.h1{
    color:rgba(239, 21, 21, 0.767);
    text-align: center;
    text-shadow: 4px 1px 3px rgba(7, 7, 7, 0.53);
}
.h3{
    text-align: center;
}

.heading{
    height: 2%;
    font-size: 50px;
    text-align: center;
}
.info-para{
    width:100%;
    height:20%;
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: rgba(255, 192, 203, 0.364);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.info-para1{
    width:20%;
    height:50%;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 15px -1px rgba(0,0,0,0.81);
}
.info-para2{
    width:20%;
    height:50%;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 15px -1px rgba(0,0,0,0.81);
}
.info-para3{
    width:20%;
    height:50%;
    text-align: center;
    padding: 20px;
    
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 15px -1px rgba(0,0,0,0.81);
}
.footer{
    width:100%;
    height:32%;
    color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
}
.footer1{
    font-size: 45px;
}
.bottom{
    background-color: pink;
}